/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:white;
	--color-text2: black;
	--color-text3: gray;
	--color-text4: rgb(200, 200, 200);
	--color-background: black;
	--color-background2: #ffa500;
	--color-background3: white;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/****************/
/* HOMEPAGE */
/****************/


body {
	font-family: helvetica;
	margin: 0;
	padding: 0;
	background-color: var(--color-background);
	color: var(--color-text);
}

ul {
	padding: 0;
}

.ham-menu {
	height: 50px;
	width: 50px;
	position: relative;
	z-index: 9999;
}


.off-screen-menu {
	background-color: var(--color-background);
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	right: -1600px;
	display: flex;
	flex-direction: column;
	font-size: 3rem;
	transition: .3s ease;
	z-index: 9999;
	padding-top: 1em;
	margin-top: 1.5em;
}

.desktop-menu{
	display: flex;
	flex-direction: row;
}
.desktop-menu ul{
	display: flex;
	flex-direction: row;
	gap: 3em;
	padding-top: 1em;
	margin-top: 1.5em;
	list-style: none;
}

.desktop-menu li{
	display: flex;
	flex-direction: row;
}

.desktop-menu li a{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	color: var(--color-text);
	align-items: center;
	justify-content: center;
}

.desktop-menu > img{
	margin-left: 9em;
}

.desktop-menu li a img{
	height: 55%;
	filter: invert(100%);
}

.desktop-menu li:last-child a{
	text-decoration: none;
	color: var(--color-text2);
	background-color: var(--color-background2);
	border-radius: 5px;
	padding: 0.6em 1em;
}

.off-screen-menu.active {
	right: 0;
	background-color: var(--color-background);
}
  
nav {
	display: flex;
	margin: 1em;
	justify-content: space-between; /* center all children (ham, logo, profile) */
}

/* Bron: chatGPT) */
.ham-menu span {
	height: 2px;
	width: 50%;
	background: var(--color-background3);
	border-radius: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s ease;
}

/* Bron: tutorial: https://www.youtube.com/watch?v=aNDqzlAKmZc */
.ham-menu span:nth-child(1) {
	top: 35%;
}

.ham-menu span:nth-child(3) {
	top: 65%;
}

.ham-menu.active span:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
	opacity: 0;
}

.ham-menu.active span:nth-child(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.off-screen-menu ul {
    list-style: none;
	text-align: left;
	padding-left: 1em;
}

.off-screen-menu a {
    text-decoration: none;
    color: var(--color-text); 
    font-size: 18px;
	font-weight: bold;
}

nav img {
	width: 32px;
}

.carousel {
	position: relative;
}

/* Bron: https://www.youtube.com/watch?v=XtFlpgaLbZ4&t=66s */
.carousel__item {
	font-size: 2em;
	display: none;
}

/* Bron: https://www.youtube.com/watch?v=XtFlpgaLbZ4&t=66s */
.carousel__item--selected {
	display: block;
}

/* Bron: https://www.youtube.com/watch?v=XtFlpgaLbZ4&t=66s */
.carousel__item--selected h2 {
	padding: 2.5em;
    padding-bottom: 0;
    font-weight: 550;
    font-size: 12px;
}

/* Bron: https://www.youtube.com/watch?v=XtFlpgaLbZ4&t=66s */
.carousel__item--selected a{
	font-size: 16px;
	font-weight: 600;
	color: var(--color-text);
	border: 2px solid var(--color-background3);
	border-radius: 5px;
	border-width: 1px;
	text-decoration: none;
	text-transform: uppercase; 
	padding: 1em;   
	padding-left: 6em;
	padding-right: 6em;
	margin: 2em;
	margin-top: 0;
	margin-bottom: 1em;
	align-self: center;
}

.carousel__nav {
	width: 100%;
	padding: 20px 0;
	position: absolute;
	left: 0;
	text-align: center;
}

/* Bron: chatGPT*/
.carousel__button {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: rgba(202, 202, 202, 0.2);
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

/* Bron: chatGPT*/
.carousel__button--selected {
    background: var(--color-background3);
}

img {
	max-width: 100%;  /* never overflow container */
	height: auto;     /* keep aspect ratio */
	display: block;   /* removes inline spacing issues */
}

/* Bron: https://www.a11yproject.com/posts/how-to-hide-content/. Mee gekregen in Teams kanaal.  */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.carouselTekst p{
	color: var(--color-text);
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	padding-left: 1em;
	padding-bottom: 1em;
	line-height: 1.3em;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	padding-bottom: 2em;
}

section h3{
	font-size: 32px;
	padding-left: 1em;
	margin-top: 0;
	font-weight: 550;

}

h2 {
	padding: 2em;
	padding-bottom: 0;
	padding-left: 1.3em;
	padding-top: 0;
	font-weight: 550;
	font-size: 24px;
}

.newswire {
 	margin-top: 4em;
}

.newswire li{
	display: flex;
	flex-direction: column;
	border: 1px solid rgb(64, 64, 64);
	border-radius: 5px;
	display: inline-flex;
	margin: 2em;
	margin-top: 0;
	padding-bottom: 0;
}

.newswire h3 {
	font-size: 12px;
	padding: 20px;
	padding-bottom: 0;
}

.newswire p {
	color: var(--color-text);
	font-size: 18px;
	font-weight: bolder;
	padding: 20px;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
}

h3 time {
	color: var(--color-text3);
	font-size: 12px;
	padding-left: 0.5em;
}

main a {
	font-size: 16px;
	color: var(--color-text);
	text-decoration: underline orange 5px; /* Bron: ChatGPT */
	display: flex;
	justify-content: center;
	padding: 1em;
	padding-bottom: 2.5em;
}

/* Bron: chatGPT + eigen inbreng */
.featured-games ul {
	list-style: none;
	padding: 2em;
	padding-top: 0;
	padding-bottom: 2em;
	margin-bottom: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 2 columns */
	grid-gap: 1.5rem;
	max-width: 1200px;
}

/*  Bron: chatGPT */
.featured-games ul li:first-child {
	grid-column: 1 / -1;
}

/* Bron: ChatGPT */
.featured-games ul li {
	border-radius: 16px; 
	overflow: hidden;  
}

#rockstarImage {
	width: 42px;
	margin-left: 2em;
	margin-top: 4em;
}

section h4 {
	font-size: 24px;
	font-weight: normal;
	padding: 1.3em;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0.8em;
}

section p {
	font-size: 16px;
	font-weight: lighter;
	color: var(--color-text4);
	padding: 2em;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	line-height: 1.5em;
}

.newsletter a {
	display: flex;
	align-self:flex-start;
	padding: 1.9em;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	margin-left: 2.7em;
	background-color: black;
	font-size: 13px;
	font-weight: bold;
	color: var(--color-text4);
	text-decoration: none;
	border: 1px solid rgb(176, 176, 176);
	border-radius: 3em;
}

/* Bron: chatGPT */
footer>ul:nth-of-type(1) {
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	line-height: 2.5em;
	padding-left: 1.8em;
}

footer ul:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-between;
	padding: 2.3em;
} 


footer ul:nth-of-type(2) li {
	width: 24px;
}

footer ul:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 14px;
	font-weight: lighter;
	line-height: 2.5em;
	padding-left: 1.8em;
	padding-bottom: 2em;
}

/* hulp van de docent */
footer section p {
	font-size: 14px;
	font-weight: lighter;
	color: var(--color-text4);
	align-self: center;
	margin-bottom: 0;
}

footer section ul {
	font-size: 14px;
	font-weight: lighter;
	color: var(--color-text4);
	align-self: center;
	list-style: none;   /* Bron: ChatGPT */
	display: flex;      /* Bron: ChatGPT */
	gap: 1rem; 
	padding: 1em;
	padding-top: 0.8em;
}

/* Bron: ChatGPT */
select {
	background-color: var(--color-background);
	color: var(--color-text4);
	border-color: var(--color-background);
	font-size: 16px;
	font-weight: bolder;
	margin-left: 1.5em;
	margin-bottom: 2em;
	margin-top: 7em;
}

.custom-select {
	text-align: left;
}

/****************/
/* GRAND THEFT AUTO V */
/****************/

#logoGtav {
	width: 230px;
}

main.content-gtav nav {
	border-bottom: 0.5px solid #3a3a3a;
	padding-bottom: 1.5em;
}

/* Bron: chatGPT */
article {
	height: 375px;
	justify-content: flex-end;
	color: var(--color-text);
	background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 60%),
	url('../images/header-img-gtav.jpg') center/cover no-repeat;
	margin-bottom: 25em;
}

article img {
	display: inline-block;
	margin-top: 15em;
}

article img:nth-of-type(1) { /* Bron: chatGPT */
	width: 111px;
	margin-left: 4em;
	margin-right: 2em;

}

article img:nth-of-type(2) {
	width: 97px;
	margin-right: 2em;
	justify-content: left;
}

main.content-gtav section img {
 	width: 111px;
}

main.content-gtav h2 {
	font-size: 35px;
	font-weight: bold;
	font-family: "bebas-neue-pro", sans-serif;
	line-height: 1.2em;
	padding-right: 2em;
	padding-left: 1em;
	margin-bottom: 0;
}

main.content-gtav p {
	font-size: 16px;
	font-weight: lighter;
	font-family: "Futura-Condensed", sans-serif;
	padding-left: 2em;
	padding-right: 3em;
	padding-top: 0;
	padding-bottom: 1em;
	line-height: 1.8em;
}

main.content-gtav a {
	font-size: 20px;
	font-weight: lighter;
	font-family: "bebas-neue-pro", sans-serif;
	color: var(--color-text);
	border: 2px solid var(--color-background3);
	border-radius: 5px;
	border-width: 1px;
	text-decoration: none;
	text-transform: uppercase; 
	align-self: center;
	padding: 1em;
	margin-left: 1.8em;
	margin-right: 1.8em;
	margin-bottom: 1em;
}

main.content-gtav section:nth-of-type(1) {
	color: var(--color-text);
	background: url('../images/achtergrond1.jpg') center/cover no-repeat;
	min-height: 100vh;
}

#vrijstaandeAfbeelding { /* Bron: chatGPT */
	width: 375px;
	margin-top: 4em;
}

main.content-gtav section img {
	width: 111px;
	align-self: center;
	margin: 1em;
}

main.content-gtav h3 {
	font-size: 48px;
	font-weight: bold;
	font-family: "bebas-neue-pro", sans-serif;
	line-height: 1.2em;
	padding-left: 0.8em;
	margin-bottom: 0;
}

main.content-gtav section p {
	color: var(--color-text);
	font-size: 16px;
	font-weight: lighter;
	font-family: "Futura-Condensed", sans-serif;
	padding-left: 2.2em;
	padding-right: 3em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	line-height: 1.8em;
}

main.content-gtav section:nth-of-type(2) {
	color: var(--color-text);
	background: url('../images/achtergrond2.jpg') center/cover no-repeat;
	min-height: 100vh;
	margin-bottom: 0;
}

#vrijstaandeAfbeelding2 { 
	width: 375px;
	margin-top: 4em;
}

main.content-gtav section:nth-of-type(2) img {
	width: 97px;
	align-self: center;
	margin-bottom: 2em;
}

main.content-gtav section:nth-of-type(3) h3{
	font-size: 40px;
}

main.content-gtav section:nth-of-type(3) img {
	width: 311px;
	border-radius: 8px;
	align-self: center;
	margin-bottom: 2em;
}

main.content-gtav section:nth-of-type(4) p{
	font-size: 16px;
	font-weight: bold;
	color: var(--color-text4);
	border: 1px solid rgb(78, 78, 78);
	border-radius: 10px;
	margin: 2em;
	margin-top: 0;
}

/****************/
/* Deskstop */
/****************/

/* Bron: hulp van student assistent */

@media screen and (max-width: 769px){
	nav .desktop-menu{
	display:none;
	}
}

@media screen and (min-width: 770px) {
	
	.desktop-menu nav{
		display:none;
	}
	
	.off-screen-menu, .ham-menu{
		display: none;
	}

	.off-screen-menu ul { 
		padding-left: 2em;
	}

	.off-screen-menu{ 
		margin-top: 1.3em;
		right: -800px;
	}
	
	.carousel__item section { 
		align-items: center;
		text-align: left;
		gap: 2rem;            
	}

	.carousel__nav {
		text-align: left;
		padding-left: 2em;
	}

	.carousel__item--selected a {
		margin: 13em;
		margin-left: 2em;
		margin-right: 30em;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.carousel__item--selected h2 {
		padding: 2.5em;
		padding-bottom: 0;
		font-weight: 550;
		font-size: 15px;
	}

	.carouselTekst p {
		font-size: 40px;
	}

	.carouselTekst a {
		max-width: 12em;
	}

	.newswire li{
        max-width: 301px;
        margin: 1em;
        margin-inline: 2.2em;
	}

	.newswire h2{
        font-size: 30px;
	}

	.newswire ul{
		margin: 1em;
		align-items: center;
	}

	.newswire li{
		align-items: center;
	}


	.newsletter {
		text-align: center;
		padding: 5em;
		padding-top: 0;
		padding-bottom: 0;
	}

	.newsletter img {
		align-self: center;
	}

	.newsletter a {
		align-self: center;
	}

	footer {
		padding-left: 2em;
	}

	.custom-select {
		text-align: right;
		padding-right: 3em;
	}

	footer ul:nth-of-type(2) {
		width: 500px;
	}

	footer ul:nth-of-type(2) img{
		max-width: 18px;
	}

	footer section {
		flex-direction: row;
		justify-content: space-between;
		padding-right: 2em;
	}

	#vrijstaandeAfbeelding {
		width: 760px;
	}

	main.content-gtav section:nth-of-type(1) {
		padding: 3em;
	}

	main.content-gtav section:nth-of-type(2) {
		padding: 3em;
	}

	main.content-gtav section:nth-of-type(3) {
		padding: 3em;
	}

	main.content-gtav section:nth-of-type(3) img{
		width: 695px;
	}

	#vrijstaandeAfbeelding {
		width: 900px;
	}

	#vrijstaandeAfbeelding2 {
		width: 760px;
	}
}



@media screen and (min-width: 1024px) {

	.off-screen-menu{ 
		margin-top: 1.3em;
		right: -1024px;
	}

	.carousel {
		max-width: 100%;
	}


	.carousel img {
		width: 1000px;
	}

	.carouselTekst{
		max-width: 700px
	}

	.carouselTekst p{
		margin-right: 7em;
	}

	.carousel__item--selected {
		display: flex;         /* override block ONLY for the active slide */
		flex-direction: row;
		align-items: center;
		align-items: flex-start;
	}

	.carousel__item--selected h2 {
		font-size: 15px;
	}
	

	.carousel__item--selected a {
		width: 300px;
		font-size: 20px;
	}

	h2 {
		font-size: 30px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 3em;
	}

	.newswire ul{
		display: flex;
		align-items: stretch;
		margin-top: 0;
		margin-left: 5em;
		align-self: center;
		gap: 2em;
	}

	.newswire h3{
		align-self: flex-start;
	}

	.newswire li {
		margin: 0.5em;
		max-width: 100%;
	}

	main a {
		font-size: 20px;
	}

	.featured-games ul {
		grid-template-columns: repeat(4, 1fr);
		padding-top: 0;
		align-self: center;
		max-width: 100%;
		margin: 3em;
	}

	.featured-games img {
		width: 100%;
	}

	article {
		height: 800px;
		background: linear-gradient(to right, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 60%),
		url('../images/header-img-gtav.jpg') center/cover no-repeat;
		margin-bottom: 0;
	}

	section p {
		padding-left: 17em;
		padding-right: 17em;
		font-size: 20px;
	}

	article img:nth-of-type(1) {
		width: 140px;
	}

	article img:nth-of-type(2) {
		width: 122px;
	}

	main.content-gtav section:nth-of-type(1){
		padding-top: 15em;
		display: flex;
		flex-direction: row;
	}
	
	main.content-gtav section:nth-of-type(1) h3{
		display: flex;
		flex-direction: row;
	}

	main.content-gtav section:nth-of-type(2) {
		display: flex;
		flex-direction: row-reverse;
	}

	main.content-gtav section:nth-of-type(2) img{
		align-self: flex-start;
		width: 122px;
	}

	main.content-gtav section:nth-of-type(3){
		display: flex;
		flex-direction: row;
	}

	main.content-gtav section:nth-of-type(3) .sectionTekst{
		padding: 5em;
	}

	main.content-gtav section:nth-of-type(3) h3{
		font-size: 50px;
	}
	

	.sectionTekst {
		display: flex;
		flex-direction: column;
	}

	main.content-gtav section p {
		font-size: 20px;
	}

	main.content-gtav section h3 {
		font-size: 60px;
	}

	main.content-gtav section img {
		width: 140px;
		align-self: flex-start;
		margin-left: 2.5em;
	}

	main.content-gtav section:nth-of-type(4) p{
		font-size: 20px;
		text-align: center;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	main.content-gtav section:nth-of-type(4) {
		padding: 8em;
		padding-top: 0;
		padding-bottom: 0;
	}

	
	main.content-gtav h2 {
		font-size: 50px;
		padding-right: 24em;
		padding-left: 1.3em;
	}

	main.content-gtav p {
		font-size: 20px;
		padding-left: 3em;
		padding-right: 62em;
	}

	main.content-gtav a {
		width: 250px;
		margin: 0;
	}

	.knoppenInleiding {
		display: flex;
		gap: 1em;
		margin-left: 3.8em;
	}
}

@media (prefers-color-scheme: light) {
	
	.off-screen-menu {
		right: -1800px;
	}

	.desktop-menu li:last-child a {
		color: white;
		background-color: black;
	}

	body {
		background: #ffa500;
	}
	
	main {
	  background-color: white;
	  color: black;
	}

	.carouselTekst p {
		color: black;
	}

	.carousel__item--selected a {
		color:black;
		border-color:black;
		background-color: #ffa500;
	}

	.carousel__button {
		background:#ffc964;
	}

	.carousel__button--selected {
		background: black;
	}

	h2 {
		color: black;
	}

	h3 {
		color: black;
	}

	main a {
		color: black;
	}

	nav {
		background: #ffa500;
	}

	.off-screen-menu.active {
		background: #ffa500;
	}


	.off-screen-menu a {
		color: black;
	}

	.newswire p {
		color: black;
	}

	.featured-games li {
		margin: 0;
		background: none;
	}

	.newswire li {
		border: 1px solid black;
		background-color: #ffa500;
		color: black;
	}

	h3 time {
		color: rgb(75, 75, 75);
	}

	footer {
		background: #ffa500;
	}

	footer li{
		color: black;
	}

	footer section p{
		color: black;
	}

	section p {
		color: black;
	}

	select {
		background-color: #ffa500;
		border-color: #ffa500;
		color: black;
		margin-top: 2em;
	}

	#rockstarImage {
		border: 1px solid rgb(176, 176, 176);
		background-color: #ffc964;
	}

	.newsletter a {
		background: #ffa500;
		border-color: black;
		color: black;
		margin-bottom: 3em;
	}

	main.content-gtav h3 {
		color: white;
	}

	main.content-gtav section:nth-of-type(3) h3 {
		color: black;
	}

	main.content-gtav section:nth-of-type(3) p {
		color: black;
	}

	main.content-gtav h2 {
		color: white
	}

	main.content-gtav section:nth-of-type(4) p {
		color: black;
	}

	article {
		height: 100%;
	}

	.knoppenInleiding {
		padding-bottom: 3em;
	}
}